<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form [formGroup]="form">
      <input type="text" id="login" class="fadeIn second" formControlName="email" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" formControlName="mdp" placeholder="Mot de passe">
      <input type="text" id="passwordconfirm" class="fadeIn third" formControlName="confirmMdp" placeholder="Confirmation mot de passe">
      <button  class="fadeIn fourth" [disabled]="!form.valid" (click)="inscription(form)" >Inscription</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>