<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form [formGroup]="form">
      <input type="text" id="login" formControlName="email" placeholder="Email">
      <input type="text" id="password"formControlName="mdp" placeholder="Mot de passe">
      <button [disabled]="!form.valid" (click)="connexion(form)" >Connexion</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>